body{
	background-color: #16384c;
}
.container{
	margin: 100px;
	padding: 30px;
	position: relative;
	min-height: 320px;
	border-radius: 10px;
	box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
}
label{
	color: white;
}